.form-layout{

    border-radius: 5px;
    width: 500px;
}

.errorlist{
    color:red;
}


.parallax {
    /* The image used */
    background-image: url('../images/zoo_image.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto ;
  }

body, html {
    height: 1200px;
}

.info{
    height:auto;
    font-size: 50px;
}

.text-center{
    height: 500px;
}