{% extends 'website/base.html' %}

{% block content %}

<div class="container">
    <p>Your amount of point left is: {{user.points}} <p>
</div>

    
<div class="container">
    <h2> Hotel bookings <h2>
        <table class="table table-dark table-hover table-bordered fs-5">
            <thead class="table-primary">
                <tr>
                    <th scope="col"> Booking ID </th>
                    <th scope="col"> Booking Date </th>
                    <th scope="col"> Arrive </th>
                    <th scope="col"> Depart </th>
                    <th scope="col"> Adults </th>
                    <th scope="col"> Children </th>
                    <th scope="col"> OAPs </th>
                    <th scope="col"> Cost </th>
                    <th scope="col"> Points </th>
                </tr>
            </thead>

            <tbody>
            {% if hotel_records %}
                {% for record in hotel_records %}
                <tr>
                    <td> {{record.booking_id}} </td>
                    <td> {{record.hotel_booking_date}} </td>
                    <td> {{record.hotel_booking_date_arrive}} </td>
                    <td> {{record.hotel_booking_date_leave}} </td>
                    <td> {{record.hotel_booking_adults}} </td>
                    <td> {{record.hotel_booking_children}} </td>
                    <td> {{record.hotel_booking_oap}} </td>
                    <td> {{record.hotel_booking_cost}} </td>
                    <td> {{record.hotel_points}} </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
</div>

<div class="container">
    <h2> Zoo bookings <h2>
        <table class="table table-hover table-bordered fs-5">
            <thead class="table-primary">
                <tr>
                    <th scope="col"> Booking ID </th>
                    <th scope="col"> Booking Date </th>
                    <th scope="col"> Arrive </th>
                    <th scope="col"> Depart </th>
                    <th scope="col"> Adults </th>
                    <th scope="col"> Children </th>
                    <th scope="col"> OAPs </th>
                    <th scope="col"> Cost </th>
                    <th scope="col"> Points </th>
                </tr>
            </thead>

            <tbody>
            {% if zoo_records %}
                {% for record in zoo_records %}
                <tr>
                    <td> {{record.booking_id}} </td>
                    <td> {{record.zoo_booking_date}} </td>
                    <td> {{record.zoo_booking_date_arrive}} </td>
                    <td> {{record.zoo_booking_date_leave}} </td>
                    <td> {{record.zoo_booking_adults}} </td>
                    <td> {{record.zoo_booking_children}} </td>
                    <td> {{record.zoo_booking_oap}} </td>
                    <td> {{record.zoo_booking_cost}} </td>
                    <td> {{record.zoo_points}} </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
</div>
{% endblock %}