{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<p> Welcome to the booking page where you can either book a hotel stay or a zoo trip here are our prices:
    hotel adult-£65 , hotel child-£35, hotel old age pensioner (OAP)-£45. (zoo prices here) </p>
<br>

<div class="container bg-primary text-white p-5 form-layout">
    <h3>Book your hotel stay</h3>

    <hr>
    <br>

    <form action="{% url 'hotel' %}" method="POST" autocomplete="off">
        {% csrf_token %}

        {{form|crispy}}
        <br>
        <h2 id="hotel_output" >Hotel cost: £0.00</h2>
        <br>
        {{request.user.points}}
        <button id="booking_button" type="submit" class="btn btn-primary w-100 btn-block p-2">Book &nbsp; </button>
    </form>


</div>
<br>

<script src="{% static 'js/hotel.js' %}"></script>

{% endblock %}