{% extends 'website/base.html' %}

{% block content %}
    <br>
    <div class="text-center">
        <h3>Django zoo project</h3>
        <br>
        <h5>By Kyle Sables</h5>
        <hr>
        <br>
        <div class="parallax"></div>

<div>
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax"></div>
        


    </div>
{% endblock %}

