{% extends 'website/base.html' %}

{% block content %}
    <br>
    <div class="text-center">
        <h3>Riget Zoo Adventures</h3>
        <br>
        <h5>By Kyle Sables</h5>
        <hr>
        <br>
        <div class="parallax"></div>

<div class="info">
Here at Riget zoo adventures we have lots to offer you, like our zoo for you
to visit and if you can also stay overnight. You should check availability then 
and book in at our hotel. Dont forget to book your day out at our zoo in advance
to also earn reward points, which can help you save on your next trip. If you
would like to see the prices, they are on our booking page for you to see.
</div>

<div class="parallax"></div>
        


    </div>
{% endblock %}

